



@media (min-width: 768px) {
.p-md-5 {
        padding: 3rem !important;
        padding-top: 3rem!important;
        padding-right: 3rem!important;
        padding-bottom:3rem!important;
        padding-left: 3rem !important;
    }
}



.p-4 {
    padding: 3rem !important;
    padding-top: 3rem !important;
    padding-right: 3rem !important;
    padding-bottom: 3rem !important;
    padding-left: 3rem !important;
}

.mb-4 {
    margin-bottom: 1.5rem !important;
    
}

*, ::after, ::before {
    box-sizing: border-box;
   
}
div {
    display: block;
    unicode-bidi: isolate;
}



.rounded {
        border-radius: var(--bs-border-radius) !important;
    }

.bg-body-secondary {
    --bs-bg-opacity: 1;
    background-color:  #FFF9F3 !important;

    
}

.px-0 {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.fst-italic {
    font-style: italic !important;
}
.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}


h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    margin-right: auto;
    margin-left: auto;
}

.fw-bold {
    font-weight: 700 !important;
}
.text-body-emphasis {
    --bs-text-opacity: 1;
    color: var(--bs-emphasis-color) !important;
}

#editor {
    width: 100%;
    height: 500px;
    border: 1px solid #ccc;
    padding: 10px;
}

.title{
    font-family: Arial, sans-serif;
            margin: 20px;
}